.cardpost {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    height: 100%;
    border: 1px solid #ebff33;
    opacity: 0.9;
    background: #fff;
    position: relative;
}

.selectedFile {
    height: 0;
    padding-top: 56.25%;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
    background-size: cover;
}

.infocard {
    position: absolute;
    top: 20px;
    left: 10px;
    border-radius: 30px;
}

.cardOwner {
    color: #ebff;
}

.timeago {
    color: #ddec86;
}

.edit {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
}

.editbtn {
    background: none;
    padding: 5px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background: #fff;
}

.details {
    color: #f15353;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.cardtitle {
    padding: 0 16px;
}

.smallbtn {
    padding: 5px 10px;
    background: #9fabf0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.actionbtn {
    padding: 5px;
    background: #df5959;
    color: #0f0f0f;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.cardActions {
    padding: 0 12px 12px 12px;
    display: flex;
    justify-content: space-between;
}

.cardContent {
    padding: 15px;
    text-align: justify;
}
