.paper {
    background: white;
    border-radius: 10px;
    width: 100%;
    opacity: 0.9;
    padding: 15px;
    float: right;
    border: 1px solid #ebff33;
}

.inf {
    text-align: center;
}

#formContent {
    justify-content: center;
    text-align: center;
    width: 100%;
}

.buttonSubmit {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 640px) {
    .formContent {
        justify-content: center;
        width: 100%;
    }
}
